.navbar .navbar-nav .nav-link {
     color: white;
}

* {
     font-family: Poppins;
}

.main-container {
     position: relative;
     text-align: center;
     color: white;
     background: url('../pictures/cathy-pham-3jAN9InapQI-unsplash.jpg') no-repeat center center;
     background-size: cover;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.welcome-text {
     text-align: center;
     font-family: 'Poppins', sans-serif;
     font-size: 5vw;
     font-weight: 700;
}

#main-button {
     color: #FFF;
     font-size: 2vw;
     width: 40%;
     max-width: 237px;
}

.section2 {
     color: #424242;
}

.section2-photos {
     position: relative;
     margin-right: 20%;
}

.section2-photos img {
     position: relative;
}

#second-image {
     top: 150px;
     left: 180px;
     z-index: 1;
}

.countdown-theme {
     background-color: #E43071;
     color: white;
     padding: 10px;
     text-align: center;
}

.countdown-message {
     font-size: 20px;
     margin: 0;
}

.countdown-timer {
     font-size: 24px;
     font-weight: bold;
}

.section3 {
     background: #F4E3E9;
     padding: 60px 0;
}

.section3 h1 {
     color: #E43071;
     font-family: 'Poppins', sans-serif;
     font-size: 36px;
     font-weight: 700;
     margin-bottom: 20px;
}

.section3 p {
     color: #424242;
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-weight: 400;
}

.feedback-box {
     background: #FFF;
     border-radius: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     padding: 30px;
     margin: 20px 0;
     text-align: center;
}

.card {
     background: #faf7f9;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clubs li {
     margin-bottom: 35px;
}

.feedback-box h2 {
     color: #E43071;
     font-family: 'Poppins', sans-serif;
     font-size: 24px;
     font-weight: 600;
     margin-bottom: 20px;
}

.feedback-quote {
     position: relative;
     padding: 0 20px;
     text-align: left;
}

.feedback-quote img {
     position: absolute;
     top: 0;
     left: 0;
}

.feedback-quote p {
     color: #424242;
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     margin-left: 35px;
}

.feedback-details {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
     line-height: 50%;
}

.feedback-details img {
     border-radius: 50%;
     margin-right: 10px;
}

.feedback-details h3 {
     color: #424242;
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-weight: 600;
     margin-top: 15px;
}

.feedback-details p {
     color: #969BAB;
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     font-weight: 400;
}

#todo-list {
     background-color: #969BAB;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     margin: 20px 0;
}

#todo-list li {
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-weight: 400;
     color: #424242;
     margin-bottom: 10px;
     margin-left: 25px;
}

#new-task {
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     color: #424242;
     padding: 10px;
     border: 1px solid #E43071;
     border-radius: 5px;
     margin-top: 10px;
}

#add-task {
     background-color: #E43071;
     color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
}

#add-task:hover {
     background-color: #FF5D8B;
}

.delete-button {
     background-color: #E43071;
     color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     padding: 6px 10px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-left: 15px;
}

.delete-button:hover {
     background-color: #FF5D8B;
}

/* Reset some default form styles */
form {
     margin: 0;
     padding: 0;
     width: 50%;
}

/* Center the form within the container */
.welcome-text-form {
     display: flex;
     flex-direction: column;
     align-items: center;
}

/* Style form labels */
label {
     display: block;
     margin-bottom: 5px;
}

/* Style form inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-sizing: border-box;
     /* Ensure padding is included in the width */
}

/* Style form submit button */
button {
     background-color: #E43071;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     display: block;
     /* Full width button */
     margin-top: 10px;
     /* Space between button and the last input */
}

/* Display error and success messages */
#error-message,
#success-message {
     margin-top: 10px;
     font-weight: bold;
}

/* Custom CSS for form options */
select.form-select {
     padding: 10px;
     border: 1px solid #fff;
     border-radius: 5px;
}

/* Style the selected option */
select.form-select option {
     background-color: #E43071;
     color: white;
     font-weight: bold;
}

.faq-accordion {
     max-width: 600px;
     margin: 0 auto;
}

.faq-item {
     border: 1px solid #ccc;
     margin-bottom: 10px;
     overflow: hidden;
}

.faq-question {
     background-color: #f0f0f0;
     padding: 10px;
     cursor: pointer;
     transition: background-color 0.3s;
     /* Smooth background color transition */
}

.faq-answer {
     max-height: 0;
     padding: 0 10px;
     overflow: hidden;
     transition: max-height 0.3s;
     /* Smooth max-height transition */
}

.faq-item:hover .faq-question {
     background-color: #e0e0e0;
     /* Adjust the background color on hover */
}

.faq-item:hover .faq-answer {
     max-height: 200px;
     /* Adjust this value based on your content */
}



#game-container {
     display: flex;
     justify-content: space-around;
     margin: 20px;
}

.category {
     border: 2px solid #333;
     padding: 10px;
     border-radius: 10px;
     text-align: center;
     min-width: 200px;
     background-color: #f0f0f0;
}

.item {
     background-color: #fff;
     padding: 5px;
     border: 1px solid #999;
     border-radius: 5px;
     margin: 5px 0;
     cursor: pointer;
}

.item:active {
     background-color: #ccc;
}

.message {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #32CD32;
     /* Green color */
     color: white;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
     text-align: center;
}