* {
     margin: 0;
     padding: 0;
}

.header {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     height: 101px;
     flex-shrink: 0;
     background: #E43071;
}

.navigation {
     display: flex;
     align-items: center;
}

.navigation a, .search p {
     color: #FFF;
     text-align: center;
     font-family: Poppins;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 109.5%;
     text-decoration: none;
     margin-left: 35px;
     margin-right: 35px;

}

.search {
     display: flex;
}

.search-login {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#login-button {
     color: #E43071;
     background: #FFF;
     border-radius: 200px;
     width: 166px;
     height: 50px;
     flex-shrink: 0;
     border: none;
}

.main-container {
     position: relative;
     text-align: center;
     color: white;
}

.welcome-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     font-family: Poppins;
     font-size: 70px;
     font-weight: 700;
     line-height: 110%;
     width: 650px;
     height: 172px;
}

#main-button {
     position: absolute;
     top: 63%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #FFF;
     font-size: 16px;
     width: 237px;
     height: 68px;
     flex-shrink: 0;
     border-radius: 38.5px;
     background: #E43071;
     border: none;
}

.section2 {
     display: flex;
     justify-content: space-around;
     margin-top: 101px;
}

.section2-photos {
     position: relative;
     margin-right: 20%;
}

.section2-photos img {
     position: absolute;
}

.section2-photos img:nth-child(2) {
     top: 150px;
     left: 180px;
     z-index: 1;
}

.section2-text h1 {
     color: #E43071;
     font-family: Poppins;
     font-size: 40px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}

.section2-text p, .section3-text p {
     color: var(--Grey-Copy, #424242);
     font-family: Poppins;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 37px;
     width: 540px;
     height: 163px;
     flex-shrink: 0;
}

#faq-button {
     border-radius: 38.5px;
     border: 2px solid var(--Premium-Pink, #E43071);
     width: 237px;
     height: 68px;
     flex-shrink: 0;
     background-color: #FFF;
     color: #E43071;
     text-align: center;
     font-family: Poppins;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: 37px;
}

.section3 {
     margin-top: 25%;
     background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), #F4E3E9;
     height: 900px;
}

.section3-text h1 {
     color: #424242;
     font-family: Poppins;
     font-size: 48px;
     font-style: normal;
     font-weight: 600;
     line-height: 119.2%;
     width: 450px;}

.section3-text {
     position: absolute;
     margin-left: 251px;
}

#rectangle1 {
     margin-left: 733px;
     margin-top: 165px;
     width: 449px;
     height: 300px;
}
#rectangle2 {
     margin-left: 320px;
     margin-top: -130px;
     width: 390px;
     height: 400px;
}

#rectangle3 {
     width: 351px;
     height: 250px;
     margin-left: 733px;
     margin-top: -280px;
}

.rectangle {
     border-radius: 10px;
     background: #FFF;
     box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
     padding-top: 30px;
}

.rectangle h1 {
     color: #E43071;
     font-family: Poppins;
     font-size: 38px;
     font-style: normal;
     font-weight: 600;
     line-height: 119.2%;
     margin-left: 34px;
}

.rectangle p {
     color: #424242;
     font-family: Poppins;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px;
     width: 353px;
     height: 150px;
     flex-shrink: 0;
}


.rectangle-header {
     display: flex;
     justify-content: space-evenly;
     margin-top: 17px;
}

.person-data h4 {
     color: #424242;
     font-family: Poppins;
     font-size: 18px;
     font-style: normal;
     font-weight: 600;
     line-height: 34px;
}

.person-data p {
     color: #969BAB;
     font-family: Poppins;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 15px;
     width: 160px;
}

.person-data {
     margin-left: 17px;
}

.feedback {
     display: flex;
     margin-left: 67px;
}

#rectangle2 .feedback {
     margin-top: 100px;
     margin-left: 100px;
}

#rectangle3 .feedback {
     margin-top: -70px;
}

footer {
     display: flex;
     justify-content: space-evenly;
     background-color: #0B0D17;
     padding-top: 96px;
     padding-bottom: 60px;
}

.footer1 h1 {
     display: flex;
     height: 28.235px;
     color: #FFF;
     text-align: center;
     font-family: Poppins;
     font-size: 25.668px;
     font-style: normal;
     font-weight: 800;
     line-height: 109.5%;
     margin-bottom: 24px;
}
.footer1 p {
     width: 255px;
     color: #D9DBE1;
     font-feature-settings: 'liga' off;
     font-family: Manrope;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; 
     margin-bottom: 24px;
}
.footer2 h6 {
     width: 255px;
     color:#FFF;
     font-family: Manrope;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 30px;
     margin-bottom: 24px;
}
.footer2 div p {
     margin-bottom: 12px;
}

.footer2 p{
     width: 160px;
     color: var(--text-gray-300, #D9DBE1);
     font-feature-settings: 'liga' off;
     font-family: Manrope;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; 
}
.footer3 h6{
     width: 255px;
     color: var(--default-white, #FFF);
     font-feature-settings: 'liga' off;
     font-family: Manrope;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 30px; 
     margin-bottom: 24px;
}
.footer3 div p {
     margin-bottom: 12px;
}

.footer3 p{
     width: 255px;
     color: var(--text-gray-300, #D9DBE1);
     font-feature-settings: 'liga' off;
     font-family: Manrope;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; 
}

.footer4 h6 {
     color:#FFF;
     font-family: Manrope;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 30px;
     margin-bottom: 24px;
}

.footer4 div p {
     color:#D9DBE1;
     font-family: Manrope;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     margin-left: 8px;
}

.footer4 div {
     display: flex;
     margin-bottom: 24px;
     align-items: center;
}
